<% if media_file.mimetype =~ /application\/(.*)/i %>
  <% if $1 == 'pdf' %>
    <a class="download-doc" target="_blank" href="<%= media_file.url %>">
      <i class="fa fa-file-pdf-o"></i>
      <span class="attachment__name"><%= media_file.filename %></span>
      <span class="attachment__size"><%= number_to_human_size media_file.size %></span>
      <span class="attachment__size"><b>(To preview this file you have to download it.)</b></span>
    </a>
  <% elsif ['msword', 'vnd.openxmlformats-officedocument.wordprocessingml.document'].include? $1 %>
    <a class="download-doc" target="_blank" href="<%= media_file.url %>">
      <i class="fa fa-file-word-o"></i>
      <span class="attachment__name"><%= media_file.filename %></span>
      <span class="attachment__size"><%= number_to_human_size media_file.size %></span>
      <span class="attachment__size"><b>(To preview this file you have to download it.)</b></span>
    </a>
  <% elsif ['vnd.ms-excel', 'vnd.openxmlformats-officedocument.spreadsheetml.sheet'].include? $1 %>
    <a class="download-doc" target="_blank" href="<%= media_file.url %>">
      <i class="fa fa-file-excel-o"></i>
      <span class="attachment__name"><%= media_file.filename %></span>
      <span class="attachment__size"><%= number_to_human_size media_file.size %></span>
      <span class="attachment__size"><b>(To preview this file you have to download it.)</b></span>
    </a>
  <% elsif $1.include? "powerpoint" %>
    <a class="download-doc" target="_blank" href="<%= media_file.url %>">
      <i class="fa fa-file-powerpoint-o"></i>
      <span class="attachment__name"><%= media_file.filename %></span>
      <span class="attachment__size"><%= number_to_human_size media_file.size %></span>
      <span class="attachment__size"><b>(To preview this file you have to download it.)</b></span>
    </a>
  <% end %>
<% elsif media_file.mimetype =~ /video\/(.*)/i %>
  <% if ['mp4', 'ogg', 'webm'].include? $1%>
    <div class="video-wrapper">
      <video controls src="<%= media_file.url %>"></video>
      <span class="attachment__name"><%= media_file.filename %></span>
      <span class="attachment__size"><%= number_to_human_size media_file.size %></span>
    </div>
  <% else %>
    <a class="download-doc" target="_blank" href="<%= media_file.url %>">
      <i class="fa fa-file-excel-o"></i>
      <span class="attachment__name"><%= media_file.filename %></span>
      <span class="attachment__size"><%= number_to_human_size media_file.size %></span>
      <span class="attachment__size"><b>(To preview this file you have to download it.)</b></span>
    </a>
  <% end %>
<% elsif media_file.mimetype =~ /audio\//i %>
  <div class="audio-wrapper">
    <audio controls src="<%= media_file.url %>"></audio>
    <span class="attachment__name"><%= media_file.filename %></span>
    <span class="attachment__size"><%= number_to_human_size media_file.size %></span>
  </div>
<% elsif media_file.mimetype == "image/tiff"%>
  <a class="download-doc" target="_blank" href="<%= media_file.url %>">
    <i class="fa fa-file-excel-o"></i>
    <span class="attachment__name"><%= media_file.filename %></span>
    <span class="attachment__size"><%= number_to_human_size media_file.size %></span>
    <span class="attachment__size"><b>(To preview this file you have to download it.)</b></span>
  </a>
<% elsif media_file.mimetype =~ /image\//i  %>
  <%= image_tag media_file.cdn_url(format: :collage), title: media_file.try(:caption) %>

  <% if caption = media_file.try(:caption) %>
    <p class="attachment__caption attachment__caption--show">
      <%= caption %>
    </p>
  <% end %>
<% else %>
  <a class="download-doc" target="_blank" href="<%= media_file.url %>">
    <i class="fa fa-file-o"></i>
    <span class="attachment__name"><%= media_file.filename %></span>
    <span class="attachment__size"><%= number_to_human_size media_file.size %></span>
  </a>
<% end %>
